#header {
    display:flex;
    padding:0px 80px;
    border-bottom:1px solid #cccccc;
}

.header-left-container {
    flex:1;
    display:flex;
    align-items: center;
}

.header-left-container>img:hover{
    cursor:pointer;
}

#header > div {
    flex:1;
    padding:24px 0px;
    display:flex;
    align-items: center;
}

.header-center-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    border:1px solid #cccccc;
    border-radius:20px;
    padding:8px;
    white-space: nowrap;
}

#where, #when, #guest {
    display:flex;
    align-items: center;
    border:none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}

#header div > button > div {
    padding:0px 8px;
}

#header div span {
    border: .5px solid #cccccc;
    height:20px;
}

nav {
    display:flex;
    align-items: center;
}

.host-btn{
    padding:12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
}

.host-btn:hover,.nav-lang:hover{
    background-color: #eeeeee;
    cursor:pointer;
}

.nav-elem {
    display:flex;
    align-items: center;
}
.nav-lang{
    padding:12px;
    border-radius: 30px;
    margin-right: 8px;
}

.nav-elem2{
    position: relative;
    display:flex;
    align-items: center;
    border:1px solid #cccccc;
    border-radius: 50px;
    padding:12px;
}

.nav-elem2:hover{
    box-shadow: 0px 3px 5px #cccccc;
    cursor:pointer;
}

.nav-elem2 >div {
    margin:0px 6px;
}

.navbar{
    display:flex;
    justify-content: flex-end;
}

.memberInfoContainer{
    position: absolute;
    top:60px;
    right:0px;
    width:250px;
    background-color: white;
    z-index: 1;
    border-radius: 12px;
    box-shadow: 0px -3px 10px #cccccc;
    padding:8px 0px;
}

.memberInfoContainer>div{
    display:flex;
    flex-direction: column;
}
.memberInfoContainer>div>button{
    all:unset;
    padding: 16px;
}
.memberInfoContainer>div>button:hover{
    background-color: #eeeeee;
}
