article:hover{
    cursor: pointer;
}
article > img {   
    width:100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.article-contents {
    display: flex;
    flex-direction: column;
    position:relative;
}

.article-contents > span {
    color:#717171;
}

.rate{
    position: absolute;
    top:0px;
    right:0px;
    display: flex;
    align-items: center;
}