.header-notice {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    height:64px;
}

.header-notice-text{
    font-size:20px;
    font-weight:bold;
    height:64px;
    margin-left:40px;
    display:flex;
    align-items: center;
}

.header-notice-btns-container{
    position: absolute;
    right:80px;
    display: flex;
    align-items: center;
    
}

.header-notice-btn {
    border:none;
    padding:8px;
    border-radius: 8px;
    font-size:15px;
}
.header-notice-btn:hover{
    cursor: pointer;
    background-color: white;
}

#category-container {
    padding:24px 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#category {
    display:flex;
    align-items: center;
    overflow: auto;
}

#main {
    padding:0px 80px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap:40px;
}

#filter-wrap{
    padding-left: 24px;
}

#filter{
    all:unset;
    border:1px solid #cccccc;
    border-radius: 10px;
    padding:16px 20px;
    display:flex;
    align-items: center;
    white-space: nowrap;
}

#filter:hover{cursor: pointer;}

.show-map-btn-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:40px;
}
.show-map-btn-container>button{
    all:unset;
    background-color: black;
    border-radius: 24px;
}
.show-map-btn-container>button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.show-map-btn-container>button>div{
    color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding:14px 19px;
}